<div>
    <h2 id="promise1">promise all静态方法实例</h2>
</div>
<div>
    <h4 id="promise1">并行请求两个接口，再操作数据的场景</h4>
</div>
<div>两个接口并行请求后的结果：
    <span id="promise3"></span>
</div>

<div id="firstResult" style="width: 600px;height:400px;"></div>
